
@using GitApi.Web.ViewModels.Repositorios;

@model DetalhesViewModel


@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Id repositório</label>
        <label>@Model.Repositorios.Id</label>
    </div>
    <div class="form-group">
        <label>Nome do repositório</label>
        <label>@Model.Repositorios.Name</label>
    </div>
    <div class="form-group">
        <label>Descrição do repositório</label>
        <label>@Model.Repositorios.Description</label>
    </div>
    <div class="form-group">
        <label>Linguage, do repositório</label>
        <label>@Model.Repositorios.Language</label>
    </div>
    <div class="form-group">
        <label>Data atualização do repositório</label>
        <label>@Model.Repositorios.UpdateDate.ToString("dd/MM/yyyy HH:mm:ss")</label>
    </div>
    <div class="form-group">
        <label>Dono do repositório</label>
        <label>@Model.Repositorios.Owner.Login</label>
    </div>


 
    foreach (var item in Model.Colaboradores)
    {
        <ul>
            <li>login colaborador: @item.Login</li>
            <li>numero contribuições: @item.Contribuicoes</li>
        </ul>
    }        
    <div class="form-group">
        <button type="button" id="btn-favorito" data-id-repo="@Model.Repositorios.Id" data-nome-repo="@Model.Repositorios.Name">
            Marcar como favorito
        </button>
    </div>
}
@Scripts.Render("~/bundles/detalhes")


