@using GitApi.Web.GitRepositorios.Response;

@model IList<RepositoriosResponse>

<script type="text/javascript">
    $(function () {
        registrarEventosListagem();
    });
</script>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id Repositório</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Linguagem</th>
            <th colspan="2">Data atualização</th>
        </tr>
    </thead>            
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Language</td>
                <td>@item.UpdateDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td><a class="detalhes-repositorio" href="Javascript:;" data-repositorio="@item.Name" data-login="@item.Owner.Login" data-name="@item.Name">detalhes</a></td>
            </tr>
        }
    </tbody>
</table>

